x64/
CUDA_test_c++/
Create_Graph/
.vs/
.git/
log_supercomput/
Create_Graph_New/x64/
Create_Graph_New/Create_Graph_New/
Create_Graph_New/.vs/
MPI_and_Win/x64/
MPI_and_Win/MPI_and_Win/
MPI_and_Win/.vs/
OMP_AVX_C++/x64/
OMP_AVX_C++/OMP_AVX_C++/
OMP_AVX_C++/.vs/
OMP+Cuda+geterogenus/.vs/
OMP С++  Optimal/.vs/
CUDA C++ Optimal/.vs/
CUDA 4V100 Optimal/.vs/
CUDA 4V100 Optimal/Parametr_Graph/*.txt